*.o
*.obj
*.asv
*.pdf
*.zip
*.csv


/forward_solver/results/
/forward_solver/tmzdemo2.exe
/forward_solver/ez_field.csv
/forward_solver/sim.*
/forward_solver/mex/*.mexw64
/forward_solver/mex/*.mexa64
/forward_solver/mex/*.mexmaci64

/inverse_problem/algorithms/time_reversal/tmp/
/inverse_problem/algorithms/time_reversal/*.mp4
/inverse_problem/algorithms/transmission_mwi/results/

/.agents/
/inverse_problem/algorithms/fbts/results/
/forward_solver/mex/*build_info.mat
